<a href="https://colab.research.google.com/github/gravity0717/Capstone/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%97%85%EB%8D%B0%EC%9D%B4%ED%8A%B8_%EB%85%B8%ED%8A%B8%EB%B6%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#사진 Gdrive 에 업데이트 할 때 마다 이 노트북 적용할 것**

**1. refined_data w/Log-view 불러 들이기**
# 2. os.isfile 이용해서 사진 데이터가 있으면 img_path 읽어드리기 
# 3. 결측치 제거하고 Label_and_path without_NAN 에 저장하기

In [ ]:
import pandas as pd 

from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [ ]:
from numpy.core.fromnumeric import reshape
df=pd.read_csv('/content/drive/MyDrive/캡스톤/데이터만지기/refined_data')

scaler=MinMaxScaler()
np_df=np.asarray(df['log-view'])
np_df=np_df.reshape(-1,1)

scaler.fit(np_df)
df['normalized_view']=scaler.transform(np_df)

df.to_csv('/content/drive/MyDrive/캡스톤/데이터만지기/refined_data',header=True,index=True)

,Unnamed: 0,Unnamed: 0.1,index,date,clean_view,log-view,normalized_view
0,0,0,1,2020.10.20,3426,8.139149,0.748946
1,1,1,2,2020.10.20,302,5.710427,0.470376
2,2,2,3,2020.10.20,1844,7.519692,0.677896
3,3,3,4,2020.10.20,370,5.913503,0.493669
4,4,4,5,2020.10.20,769,6.645091,0.577580
...,...,...,...,...,...,...,...
16846,16846,16846,16880,2022.06.09,113,4.727388,0.357623
16847,16847,16847,16881,2022.06.09,148,4.997212,0.388572
16848,16848,16848,16882,2022.06.09,165,5.105945,0.401043
16849,16849,16849,16883,2022.06.09,142,4.955827,0.383825
16850,16850,16850,16884,2022.06.09,176,5.170484,0.408446

In [ ]:
df2=pd.read_csv('/content/drive/MyDrive/캡스톤/label_and_path')
df2

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,index,date,clean_view,log-view,img_path
0,0,0,0,1,2020.10.20,3426,8.139149,NaN
1,1,1,1,2,2020.10.20,302,5.710427,/content/drive/MyDrive/캡스톤/data/1
2,2,2,2,3,2020.10.20,1844,7.519692,NaN
3,3,3,3,4,2020.10.20,370,5.913503,/content/drive/MyDrive/캡스톤/data/3
4,4,4,4,5,2020.10.20,769,6.645091,/content/drive/MyDrive/캡스톤/data/4
...,...,...,...,...,...,...,...,...
16846,16846,16846,16846,16880,2022.06.09,113,4.727388,NaN
16847,16847,16847,16847,16881,2022.06.09,148,4.997212,NaN
16848,16848,16848,16848,16882,2022.06.09,165,5.105945,NaN
16849,16849,16849,16849,16883,2022.06.09,142,4.955827,NaN
16850,16850,16850,16850,16884,2022.06.09,176,5.170484,NaN

In [ ]:
import os
import numpy as np
file_list = os.listdir('/content/drive/MyDrive/캡스톤/data') # 무신사 데이터 이름 모두 file_list 로 불러들이기 
num_list=list()
path_list=list() # 저장할 사진 경로


for idx in range(1,16852): # 파일 이름은 str 이기 때문에 정수 idx 를 글자로 치환  
  idx_str=str(idx) 
  num_list.append(idx_str)

print(len(num_list))

16851

In [ ]:
for idx in num_list: # 16000 개 리스트 중에
  if idx in file_list: # 만약 idx가 존재하면 
    path_list.append('/content/drive/MyDrive/캡스톤/data' +"/" +idx) #사진 경로를 부르고 
  else :
    path_list.append(np.nan) # 아니면 NaN 로 저장하라
path_list

print(len(path_list))

16851

In [ ]:

df.loc[:,"img_path"]=path_list  #이걸 저장하라 

df
df.to_csv("/content/drive/MyDrive/캡스톤"+'/label_and_path',header=True,index=True)

In [ ]:
df3=pd.read_csv("/content/drive/MyDrive/캡스톤/label_and_path")
new_df=df3.dropna()

new_df.to_csv("/content/drive/MyDrive/캡스톤/label_and_path_withoutNaN")

new_df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,index,date,clean_view,log-view,img_path
0,0,0,0,1,2020.10.20,3426,8.139149,/content/drive/MyDrive/캡스톤/data/1
2,2,2,2,3,2020.10.20,1844,7.519692,/content/drive/MyDrive/캡스톤/data/3
3,3,3,3,4,2020.10.20,370,5.913503,/content/drive/MyDrive/캡스톤/data/4
5,5,5,5,6,2020.10.20,1265,7.142827,/content/drive/MyDrive/캡스톤/data/6
6,6,6,6,7,2020.10.20,323,5.777652,/content/drive/MyDrive/캡스톤/data/7
...,...,...,...,...,...,...,...,...
15962,15962,15962,15962,15996,2022.05.17,1497,7.311218,/content/drive/MyDrive/캡스톤/data/15963
15963,15963,15963,15963,15997,2022.05.17,1766,7.476472,/content/drive/MyDrive/캡스톤/data/15964
15964,15964,15964,15964,15998,2022.05.17,912,6.815640,/content/drive/MyDrive/캡스톤/data/15965
15965,15965,15965,15965,15999,2022.05.17,1145,7.043160,/content/drive/MyDrive/캡스톤/data/15966
15967,15967,15967,15967,16001,2022.05.18,161,5.081404,/content/drive/MyDrive/캡스톤/data/15968